.s12w400black {
    font-weight: 400;
    font-size: 12px;
    color: #485056;
}

.s12 { font-size: 12px; }
.s13 { font-size: 13px; }
.s14 { font-size: 14px; }
.s15 { font-size: 15px; }
.s16 { font-size: 16px; }
.s17 { font-size: 17px; }
.s18 { font-size: 18px; }
.s19 { font-size: 19px; }
.s20 { font-size: 20px; }
.s21 { font-size: 21px; }
.s22 { font-size: 22px; }
.s24 { font-size: 24px; }
.s25 { font-size: 25px; }
.s26 { font-size: 26px; }
.s27 { font-size: 27px; }
.s28 { font-size: 28px; }

.w400 { font-weight: 400;}
.w500 { font-weight: 500;}
.w600 { font-weight: 600;}
.w700 { font-weight: 700;}
.w800 { font-weight: 800;}
.w900 { font-weight: 900;}

.cWhite { color: #fff;}
.cBlackD { color: #485056;}
.cBlackL { color: #495057;}
.cBlackLOpc { color: rgba(73, 80, 87, 0.4);}
.cGrey { color: #A0A5B2;}
.cGrey2 { color: #CACCCF;}
.cGreyL { color: #B6B9BC;}
.cGreyL2 { color: rgba(18, 31, 62, 0.4)}
.cBlue { color: #00AEED;}
.cBlueOpc { color: rgba(0, 174, 237, 0.5);}
.cOrange { color: #F6A031;}
.cOrange2 { color: #F7B53A;}
.cRed { color: #F1564A;}

.uCase { text-transform: uppercase; }

.text-nowrap { white-space: nowrap ;} 
