.my-tasks-container {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 102px 36px;
    overflow-y: auto;
    overflow-x:hidden;

    .point {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        flex-shrink: 0;
    }
    
    .blue {
        background-color: #00AEED;
    }
    
    .orange {
        background-color: #F7B53A;
    }

    &::-webkit-scrollbar {
        width: 3px;
        
      }

      &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: #F2F2F5;
      }

      &::-webkit-scrollbar-thumb {
        background: #A0A5B2; 
        max-height: 200px;
        position: relative;
        right: 20px;
      }

}